.modal-order {
  z-index: 123;
  display: none;



  .container {
    overflow-x: scroll;
  }

  // .modal-order__order-form
  &.active {
    display: flex;
  }


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // .modal-gallery__gallery
  background-color: rgba(0, 0, 0, 0.81);


  flex-direction: column;
  justify-content: center;

  &__order-form {}
}

.order-form {
  * {
    color: rgba(0, 20, 113, 1)
  }

  &__price {
    font-size: 34px;
  }

  &__text {
    display: flex;
    gap: 60px;
    align-items: center;

    @media (max-width:1023px) {
      gap: 30px;
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      margin: 0;
    }

    >span {
      @media (max-width:1023px) {
        display: none;
      }

      display: block;
      height: 34px;
      width: 1px;
      background-color: rgba(0, 20, 113, 1);
    }
  }

  position: relative;

  &__close {
    button {
      cursor: pointer;
    }

    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 123;
  }

  background-color: white;

  border-radius: 30px;

  padding: 50px;

  @media (max-width:1023px) {
    padding: 20px;
  }

  // .order-form__header

  &__header {
    font-size: 52px;
    margin-bottom: 80px;
    text-transform: uppercase;

    @media (max-width:1023px) {
      font-size: 27px;
      margin-bottom: 30px;

    }
  }

  // .order-form__desc

  &__desc {

    width: 50%;

    @media (max-width:1023px) {
      width: 100%;
    }
  }

  // .order-form__fields

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    @media (max-width:1023px) {
      gap: 30px;
      flex-direction: column;
    }

  }
}

.form-field {
  width: calc(50% - 80px);

  &:nth-child(1) {
    width: calc(33% - 80px);
  }

  &:nth-child(2) {
    width: calc(33% - 80px);
  }

  &:nth-child(3) {
    width: calc(33% - 80px);
  }

  @media (max-width:1023px) {
    width: 100% !important;
  }

  &.error {
    .form-field__input {
      border-bottom: 1px solid rgb(113, 0, 0);
      color: rgb(113, 0, 0)
    }

    .form-field__error {
      color: rgb(113, 0, 0)
    }
  }

  // .form-field__input

  &__input {
    transition: all .2s ease-in-out;
    border-bottom: 1px solid rgba(0, 20, 113, 1);
    width: 100%;
    padding: 5px 0 30px 0;
  }

  // .form-field__error

  &__error {
    transition: all .2s ease-in-out;
    color: white;
    margin: 0;
  }
}


.order-form {

  // .order-form__submit

  &__items {
    margin-top: 80px;
    margin-bottom: 80px;

    @media (max-width: 1023px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 1023px) {
      gap: 20px;
    }

    .order-form-item {
      line-height: 27.8px;
      width: calc(25% - 40px);

      @media (max-width: 1440px) {
        width: calc(33% - 40px);
      }

      @media (max-width: 1200px) {
        width: calc(50% - 40px);
      }

      @media (max-width: 1023px) {
        width: 100%;
      }

    }

  }



  &__submit {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .order-form__submit-btn

  &__submit-btn {}

  // .order-form__submit-text

  &__submit-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
}

.submit-btn {
  width: 320px;
  height: 107px;

  @media(max-width: 1023px) {
    height: 50px !important;
  }

  border-radius: 50px;
  // .submit-btn__btn
  border: 1px solid rgba(0, 20, 113, 1);
  display: flex;
  position: relative;
  transition: all .2s ease-in-out;

  &__btn {
    @media(max-width: 1023px) {
      height: 50px !important;
    }

    transition: all .2s ease-in-out;
    color: white;
    cursor: pointer;
    width: 246px;
    height: 107px;
    border-radius: 50px;
    background-color: rgba(0, 20, 113, 1);
    position: absolute;
    right: calc(100% - 246px);
  }

  &:hover {

    border: 1px solid rgb(142, 240, 239);

    .submit-btn__btn {
      background-color: rgb(142, 240, 239);
      right: 0;
    }
  }

}

.submit-text {
  a {
    font-size: 12px;
    text-decoration: underline;
    transition: all .2s ease-in-out;

    &:hover {
      color: black
    }
  }

  // .submit-text__check

  &__check {
    & input:checked+label:after {
      top: 0px;

    }

    label {
      font-size: 12px;
    }

  }




}